.primary-buttons-h3 {
    margin-bottom: 12px;
}

.primary-buttons-button-column {
    margin-left: 10px;
}

.primary-buttons-text-row {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 12px;
    margin-left: 10px;
    font-size: 20px;
}

.primary-buttons-button-column {
    padding-left: 12px;
    border-left: 1px solid;
    border-color: gray;
}

.primary-buttons-button-row {
    margin-top: 3px;
    margin-bottom: 3px;
}
